<a href="https://colab.research.google.com/github/pchroscicki/data-science-bootcamp/blob/main/02_data_analysis/04_data_joining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import of Libraries

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

# **Data upload**

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations from stooq.pl
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazone = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 876 entries, 2022-10-28 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    876 non-null    float64
 1   High    876 non-null    float64
 2   Low     876 non-null    float64
 3   Close   876 non-null    float64
 4   Volume  876 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 41.1 KB

In [5]:
uber.head()

             Open     High     Low  Close    Volume
Date
2022-10-28  27.81  27.8800  26.490  27.50  27116701
2022-10-27  28.40  28.7600  27.660  27.82  16768633
2022-10-26  28.09  28.9801  27.865  28.20  17349542
2022-10-25  28.00  28.5450  27.330  28.36  17366382
2022-10-24  27.71  27.9800  26.510  27.65  19194218

# **Preprocessing**

In [6]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazone.columns = ['amazone_' + col.lower() for col in amazone.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [7]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-10-28      27.81    27.8800    26.490       27.50     27116701
2022-10-27      28.40    28.7600    27.660       27.82     16768633
2022-10-26      28.09    28.9801    27.865       28.20     17349542
2022-10-25      28.00    28.5450    27.330       28.36     17366382
2022-10-24      27.71    27.9800    26.510       27.65     19194218

# Data concatenation

In [11]:
df = pd.concat(objs=[apple, amazone, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazone_open,amazone_high,amazone_low,amazone_close,amazone_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-10-31,39.8377,40.2491,39.6060,40.1113,1.519256e+08,55.4500,55.5270,55.0560,55.264,69539340,51.6500,52.0500,51.3150,51.6520,30325560,NaN,NaN,NaN,NaN,NaN
2017-11-01,40.3040,40.3210,39.2964,39.5930,1.417722e+08,55.2700,55.4485,54.8370,55.184,75110220,51.8160,52.3930,51.7000,52.1300,43261460,NaN,NaN,NaN,NaN,NaN
2017-11-02,39.7748,39.9795,39.2155,39.8886,1.744595e+08,54.8905,55.0970,54.3435,54.711,73697520,51.9995,52.2760,51.4330,52.1485,26693940,NaN,NaN,NaN,NaN,NaN
2017-11-03,41.2857,41.3486,40.5996,40.9262,2.503458e+08,54.5575,55.6340,54.4260,55.580,75029600,52.1375,52.5330,51.8825,52.4995,27769220,NaN,NaN,NaN,NaN,NaN
2017-11-06,40.8942,41.5183,40.7464,41.3456,1.465704e+08,55.4575,56.2705,55.4385,56.033,66634760,52.4550,52.6295,52.1000,52.1340,18279080,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-24,147.1850,150.2300,146.0000,149.4500,7.598192e+07,119.9800,120.3900,116.5700,119.820,49531523,101.8000,102.7500,99.9800,102.5200,27176417,27.71,27.9800,26.510,27.65,19194218.0
2022-10-25,150.0900,152.4900,149.3600,152.3400,7.473229e+07,119.6500,121.3152,118.9500,120.600,50934609,102.9000,104.8200,102.7200,104.4800,40611375,28.00,28.5450,27.330,28.36,17366382.0
2022-10-26,150.9600,151.9900,148.0400,149.3500,8.843617e+07,116.0000,119.3457,114.7600,115.660,69002457,96.4300,98.3100,94.6900,94.9300,88279042,28.09,28.9801,27.865,28.20,17349542.0
2022-10-27,148.0700,149.0460,144.1300,144.8000,1.091802e+08,113.9200,114.1200,109.7700,110.960,129605362,94.5200,95.4300,91.8000,92.2200,60710859,28.40,28.7600,27.660,27.82,16768633.0
2022-10-28,148.2000,157.5000,147.8200,155.7400,1.647624e+08,97.9050,103.9600,97.6600,103.410,223133398,92.2700,96.5500,92.1300,96.2900,43697286,27.81,27.8800,26.490,27.50,27116701.0

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.0,9.347281e+01,4.696489e+01,3.480070e+01,4.780510e+01,7.813095e+01,1.395470e+02,1.818770e+02
apple_high,1258.0,9.460128e+01,4.757598e+01,3.521710e+01,4.843170e+01,7.881200e+01,1.416817e+02,1.821870e+02
apple_low,1258.0,9.241234e+01,4.636559e+01,3.432030e+01,4.729852e+01,7.763915e+01,1.375740e+02,1.783820e+02
apple_close,1258.0,9.355493e+01,4.699513e+01,3.436630e+01,4.801255e+01,7.826875e+01,1.401525e+02,1.812580e+02
apple_volume,1258.0,1.204846e+08,5.651714e+07,4.116961e+07,8.271079e+07,1.059069e+08,1.408727e+08,4.339886e+08
amazone_open,1258.0,1.187688e+02,3.705417e+01,5.455750e+01,8.808362e+01,1.080370e+02,1.583285e+02,1.872000e+02
amazone_high,1258.0,1.201825e+02,3.747431e+01,5.509700e+01,8.888825e+01,1.104685e+02,1.599310e+02,1.886540e+02
amazone_low,1258.0,1.172189e+02,3.656477e+01,5.434350e+01,8.718225e+01,1.063091e+02,1.562250e+02,1.848400e+02
amazone_close,1258.0,1.187144e+02,3.697275e+01,5.471100e+01,8.811525e+01,1.078920e+02,1.580935e+02,1.865700e+02
amazone_volume,1258.0,8.593762e+07,4.079692e+07,1.762674e+07,5.817610e+07,7.432425e+07,1.020338e+08,3.113457e+08
google_open,1258.0,8.432845e+01,3.131256e+01,4.921600e+01,5.761138e+01,7.151175e+01,1.126175e+02,1.512500e+02
google_high,1258.0,8.525130e+01,3.161784e+01,5.060600e+01,5.819062e+01,7.207650e+01,1.140105e+02,1.515470e+02
google_low,1258.0,8.340497e+01,3.094062e+01,4.888300e+01,5.705975e+01,7.060975e+01,1.114427e+02,1.488990e+02
google_close,1258.0,8.434780e+01,3.127173e+01,4.923350e+01,5.768975e+01,7.147750e+01,1.126972e+02,1.498380e+02
google_volume,1258.0,3.521035e+07,1.602305e+07,9.312760e+06,2.507661e+07,3.132451e+07,4.014132e+07,1.331771e+08
uber_open,876.0,3.796414e+01,9.822989e+00,1.596000e+01,3.079750e+01,3.583000e+01,4.490000e+01,6.325000e+01
uber_high,876.0,3.874174e+01,9.890977e+00,1.780000e+01,3.143000e+01,3.666500e+01,4.553175e+01,6.405000e+01
uber_low,876.0,3.710049e+01,9.681765e+00,1.371000e+01,3.013000e+01,3.509250e+01,4.380750e+01,6.080000e+01
uber_close,876.0,3.791949e+01,9.764011e+00,1.482000e+01,3.071500e+01,3.583500e+01,4.455250e+01,6.318000e+01
uber_volume,876.0,2.567684e+07,1.674940e+07,3.380003e+06,1.572402e+07,2.195886e+07,3.089581e+07,1.863225e+08

In [14]:
#to improve the data format
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,93.47,46.96,34.80,47.81,78.13,139.55,181.88
apple_high,1258.00,94.60,47.58,35.22,48.43,78.81,141.68,182.19
apple_low,1258.00,92.41,46.37,34.32,47.30,77.64,137.57,178.38
apple_close,1258.00,93.55,47.00,34.37,48.01,78.27,140.15,181.26
apple_volume,1258.00,120484585.51,56517136.24,41169609.59,82710788.85,105906918.14,140872691.21,433988621.55
amazone_open,1258.00,118.77,37.05,54.56,88.08,108.04,158.33,187.20
amazone_high,1258.00,120.18,37.47,55.10,88.89,110.47,159.93,188.65
amazone_low,1258.00,117.22,36.56,54.34,87.18,106.31,156.22,184.84
amazone_close,1258.00,118.71,36.97,54.71,88.12,107.89,158.09,186.57
amazone_volume,1258.00,85937615.65,40796924.49,17626740.00,58176105.00,74324250.00,102033780.00,311345660.00
google_open,1258.00,84.33,31.31,49.22,57.61,71.51,112.62,151.25
google_high,1258.00,85.25,31.62,50.61,58.19,72.08,114.01,151.55
google_low,1258.00,83.40,30.94,48.88,57.06,70.61,111.44,148.90
google_close,1258.00,84.35,31.27,49.23,57.69,71.48,112.70,149.84
google_volume,1258.00,35210354.01,16023052.30,9312760.00,25076610.00,31324510.00,40141325.00,133177100.00
uber_open,876.00,37.96,9.82,15.96,30.80,35.83,44.90,63.25
uber_high,876.00,38.74,9.89,17.80,31.43,36.66,45.53,64.05
uber_low,876.00,37.10,9.68,13.71,30.13,35.09,43.81,60.80
uber_close,876.00,37.92,9.76,14.82,30.71,35.84,44.55,63.18
uber_volume,876.00,25676843.89,16749399.68,3380003.00,15724022.25,21958860.50,30895805.50,186322536.00

In [15]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazone_open,amazone_high,amazone_low,amazone_close,amazone_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.33,0.86,0.86,0.85,0.86,-0.28,0.94,0.94,0.94,0.94,-0.12,0.14,0.14,0.14,0.14,0.12
apple_high,1.00,1.00,1.00,1.00,-0.32,0.86,0.86,0.85,0.86,-0.28,0.94,0.94,0.94,0.94,-0.12,0.13,0.13,0.13,0.13,0.12
apple_low,1.00,1.00,1.00,1.00,-0.34,0.86,0.86,0.85,0.86,-0.29,0.94,0.94,0.94,0.94,-0.13,0.14,0.14,0.14,0.14,0.11
apple_close,1.00,1.00,1.00,1.00,-0.33,0.86,0.86,0.85,0.86,-0.28,0.94,0.94,0.94,0.94,-0.12,0.13,0.14,0.13,0.13,0.11
apple_volume,-0.33,-0.32,-0.34,-0.33,1.00,-0.25,-0.24,-0.26,-0.25,0.59,-0.39,-0.39,-0.40,-0.40,0.51,-0.23,-0.22,-0.25,-0.24,0.24
amazone_open,0.86,0.86,0.86,0.86,-0.25,1.00,1.00,1.00,1.00,-0.23,0.83,0.82,0.83,0.82,-0.13,0.55,0.55,0.55,0.55,-0.06
amazone_high,0.86,0.86,0.86,0.86,-0.24,1.00,1.00,1.00,1.00,-0.22,0.83,0.83,0.83,0.83,-0.12,0.54,0.54,0.54,0.54,-0.05
amazone_low,0.85,0.85,0.85,0.85,-0.26,1.00,1.00,1.00,1.00,-0.25,0.82,0.82,0.83,0.82,-0.14,0.56,0.56,0.56,0.56,-0.07
amazone_close,0.86,0.86,0.86,0.86,-0.25,1.00,1.00,1.00,1.00,-0.23,0.82,0.82,0.83,0.83,-0.14,0.55,0.55,0.55,0.55,-0.06
amazone_volume,-0.28,-0.28,-0.29,-0.28,0.59,-0.23,-0.22,-0.25,-0.23,1.00,-0.30,-0.30,-0.31,-0.30,0.59,-0.18,-0.17,-0.19,-0.18,0.23
google_open,0.94,0.94,0.94,0.94,-0.39,0.83,0.83,0.82,0.82,-0.30,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_high,0.94,0.94,0.94,0.94,-0.39,0.82,0.83,0.82,0.82,-0.30,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.23,0.10
google_low,0.94,0.94,0.94,0.94,-0.40,0.83,0.83,0.83,0.83,-0.31,1.00,1.00,1.00,1.00,-0.16,0.25,0.25,0.25,0.25,0.09
google_close,0.94,0.94,0.94,0.94,-0.40,0.82,0.83,0.82,0.83,-0.30,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_volume,-0.12,-0.12,-0.13,-0.12,0.51,-0.13,-0.12,-0.14,-0.14,0.59,-0.15,-0.14,-0.16,-0.15,1.00,-0.18,-0.17,-0.20,-0.18,0.26
uber_open,0.14,0.13,0.14,0.13,-0.23,0.55,0.54,0.56,0.55,-0.18,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,0.99,-0.25
uber_high,0.14,0.13,0.14,0.14,-0.22,0.55,0.54,0.56,0.55,-0.17,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.22
uber_low,0.14,0.13,0.14,0.13,-0.25,0.55,0.54,0.56,0.55,-0.19,0.24,0.24,0.25,0.24,-0.20,1.00,1.00,1.00,1.00,-0.27
uber_close,0.14,0.13,0.14,0.13,-0.24,0.55,0.54,0.56,0.55,-0.18,0.24,0.23,0.25,0.24,-0.18,0.99,1.00,1.00,1.00,-0.25
uber_volume,0.12,0.12,0.11,0.11,0.24,-0.06,-0.05,-0.07,-0.06,0.23,0.10,0.10,0.09,0.10,0.26,-0.25,-0.22,-0.27,-0.25,1.00

In [16]:
#to extract data from closed sessions
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazone_close', 'google_close', 'uber_close']

In [19]:
df[closes].corr()

               apple_close  amazone_close  google_close  uber_close
apple_close           1.00           0.86          0.94        0.13
amazone_close         0.86           1.00          0.83        0.55
google_close          0.94           0.83          1.00        0.24
uber_close            0.13           0.55          0.24        1.00

# Method: append()

In [20]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-10-28      27.81      27.88     26.49       27.50     27116701
2022-10-27      28.40      28.76     27.66       27.82     16768633
2022-10-26      28.09      28.98     27.86       28.20     17349542
2022-10-25      28.00      28.55     27.33       28.36     17366382
2022-10-24      27.71      27.98     26.51       27.65     19194218

In [21]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612

In [22]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312

In [23]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312